:root {
  --main-accent-color-red: #E0425D;
  --main-accent-color-green: #15ac59;
  --main-accent-color-blue: #4952d3;
  --main-accent-color-orange: #ffa500;
  --main-box-bg: #f1f1f1;
  --main-box-border-color: #e0e0e0;

  /* Borders / outlines */
  --border-round: 4px;
}

.md-grid {
  max-width: 1540px;
  /* max-width: 75%; */
}

h5 {
  margin-bottom:-1em !important;
}


/* ######## < IMAGE > ######## */
.img-box{
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-round);
}
/* ######## </ IMAGE > ######## */


/* ######## < MOBILE > ######## */
@media (max-width: 768px) {
  .img-box {
    float: none;
    margin: 0 auto 15px auto;
    max-width: 100%;
    width: 100%;
  }
  /* Target images aligned right */
  .img-box[align="right"] {
     float: right; /* Solves issue on mobile for images that are floating right...so float it right again..*/
    /* margin-left: 0px;
    margin-right: auto;  */
  }
  video {
    width: 100%;
  }
}
/* ######## </ MOBILE > ######## */


/* ######## < BUTTONS > ######## */
.md-typeset .md-button--stretch {
  width: 99%;
  text-align: center;
}
.md-typeset .md-button--social {
  width: 15em;
  text-align: center;
}
/* Gumroad */
.gumroad{
  color: #ed98e6;
  transition: color 0.3s ease;
}
.md-button:hover .gumroad {
  color: rgb(31, 31, 31);
}
/* ######## </ BUTTONS > ######## */


/* ######## < GRID > ######## */
/* Light mode */
.md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
  background-color: #f1f1f1;
}
.md-typeset .grid_custom>ul>li:hover {
  border: .05rem solid rgb(155, 155, 155) !important;
}
/* Dark mode */
[data-md-color-scheme="slate"]{
  .md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
    background-color: #1A1C23;
  }
  .md-typeset .grid_custom>ul>li:hover {
    border: .05rem solid #4B4D58 !important;
  }
}
/* ######## </ GRID > ######## */


/* ######## < FOOTER > ########  */
/* Replace the Social in the footer */
/* Desktop */
.pf2b_footer_container {
  display: flex;
  /* justify-content: center; */
  color: var(--md-footer-fg-color--lighter);
  margin: auto .6rem;
  padding: .4rem 0;
}
.pf2b_footer_link {
  margin: 0 .6rem;
}
/* Mobile */
@media (max-width: 768px) {
  .pf2b_footer_container {
    justify-content: flex-end; /* Align content on smaller screens */
    text-align: center;
    margin: auto;
  }
  .pf2b_footer_link {
    margin: 0 .3rem; /* Adjust margin for mobile */
  }
}
/* ######## </ FOOTER > ########  */


/* ######## < ADMONITION > ########  */
/* Custom 'info2' */
:root {
  --md-admonition-icon--info2: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"/></svg>');
}
.md-typeset .admonition.info2,
.md-typeset details.info2 {
  border-color: rgb(43, 155, 70);
}
.md-typeset .info2 > .admonition-title,
.md-typeset .info2 > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .info2 > .admonition-title::before,
.md-typeset .info2 > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--info2);
          mask-image: var(--md-admonition-icon--info2);
}
/* Custom 'plant' */
:root {
  --md-admonition-icon--plant: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M 15,5.5 C 6,7.5 3.9,13.67 1.82,18.84 l 1.89,0.66 0.95,-2.3 c 0.48,0.17 0.98,0.3 1.34,0.3 11,0 14,-17 14,-17 C 19,2.5 12,2.75 7,3.75 2,4.75 0,9 0,11 0,13 1.75,14.75 1.75,14.75 5,5.5 15,5.5 15,5.5 Z"/></svg>');
}
.md-typeset .admonition.plant,
.md-typeset details.plant {
  border-color: rgb(43, 155, 70);
}
.md-typeset .plant > .admonition-title,
.md-typeset .plant > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .plant > .admonition-title::before,
.md-typeset .plant > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--plant);
          mask-image: var(--md-admonition-icon--plant);
}
/* ######## </ ADMONITION > ########  */



/* ######## < CHANGELOG > ######## */
/* Note to self: Remember to update the same css for landing page  */

/* Version number */
.changelog h3{
  margin-top:-0.1em;
  margin-bottom:-0.3em;
  font-weight: bold;
}

/* Date styling */
h3 small {
  margin-left: 0.7em;
  font-size: 75%;
  font-weight: 400;
}

/* Blockquote for blender version compatibility */
.md-typeset .changelog>blockquote>p {
  margin-bottom:-0.25em;
  margin-top:-0.5em;
}

/* Extra info paragraph at top */
/* .changelog > p {
  margin-top: 1em;
} */

/* Top-level list */
.md-typeset .changelog > ul {
  padding-left: 0;
  margin-left: 0;
}

/* Top-level li (category container) */
.md-typeset .changelog > ul > li {
  list-style-type: none;
  margin-bottom: 0.9em;
  margin-top: -0.1em;
  margin-left: 0;
}

/* Category title */
.md-typeset .changelog > ul > li > strong {
  display: block;
  color: var(--main-accent-color-red);
  margin-left: 0;
}

/* Sub-items (second-level li) */
.md-typeset .changelog > ul > li > ul > li {
  margin-left: 1em;
  padding-left: 0;
  list-style-type: disc;
  padding: 0.1em 0.3em;
}

/* Sub-item ul spacing */
.md-typeset .changelog>ul>li>ul {
  margin-top:-0.1em;
  line-height: 1.5; /* spacing between sub-items */
}

/* Hover on second-level li */
/* Light theme */
.md-typeset .changelog > ul > li > ul > li:hover {
  background-color: rgba(255, 200, 0, 0.175);
  border-radius: 0.25em;
}
/* Dark theme */
[data-md-color-scheme="slate"] .md-typeset .changelog > ul > li > ul > li:hover {
  background-color: rgba(255, 200, 0, 0.075);
}
.md-typeset .changelog > ul > li > ul > li,
.md-typeset .changelog > ul > li > ul > li ul > li {
    transition: background-color 0.15s;
}

/* Third-level sub-items */
.md-typeset .changelog > ul > li > ul > li > ul > li {
  list-style-type: circle;
  /* margin-top: -0.1em; */
}


/* ######## </ CHANGELOG > ######## */


/* ######## < COMPACT TABLE > ######## */
.compact-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top:-1em;
}
.compact-table table tr {
  line-height: 0.5;
}
/* .md-typeset__table {
  margin-bottom:0;
} */
/* ######## </ COMPACT TABLE > ######## */


/* ######## < LIBRARY > ######## */
.library .plant li,
.library ul li {
  margin-top: 0;
  margin-bottom: 0;
}
/* Target the detail level in bold */
/* .library .plant strong {
  color: var(--md-default-fg-color--light);
  margin-left: 0.5em;
  letter-spacing: 0.02em;
  font-weight: normal;
} */
/* Target the presets in italic */
/* .library .plant em {
  color: var(--md-default-fg-color--light);
  margin-left: 0.5em;
  letter-spacing: 0.02em;
  font-style: normal;
} */
/* Target bold & italic */
.library .plant strong em,
.library .plant em strong {
  color: var(--main-accent-color-green);
  margin-left: 0em;
  font-weight: normal;
  font-style: normal;
}
/* .library table {
  width: 100%;
  border-collapse: collapse;
  margin-top:-1em;
} */

/* .library table tr {
  line-height: 1.5;
} */
/*
.md-typeset__table {
  margin-bottom:0;
} */
/* ######## </ LIBRARY > ######## */


.gslide-desc{  /* Glightbox description */
  text-align: center;
}


/* ######## < Material Page > ######## */
/* 'Duplicate' class, TODO */
.compact table {
  width: 100%;
  border-collapse: collapse;
}
/* .compact table img {
  width: auto;
  height: auto;
  object-fit: contain;
} */
.compact table img {
  border-radius: var(--border-round);
}
.compact table tr {
  line-height: 0.5;
  padding: 0;
}
@media (max-width: 768px) {
  .compact table tr { /* Fix issue with linebreak on mobile */
    line-height: 1;
  }
}
.compact table td {
  padding: 0;
}
.md-typeset__table {
  margin-bottom:0;
}

/* ######## < /Material Page > ######## */


/* ######## < IMAGE & Video > ######## */
.img-box, video{
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-round);
}
video {
  height: auto; /* Keep the aspect ratio intact */
  max-width: 1920px;
  /* margin: 1em 0.75em 1em 0; */
  border-left: 6px solid rgb(29, 99, 45);
}
.video-wrapper {
  position: relative;
  display: inline-block;
}
.video-wrapper video{ /* Override the setting for wrapped videos */
  border-radius: 0px 4px 4px 4px;
}
.video-wrapper::before {
  content: attr(data-label);
  position: absolute;
  top: -10px;
  /* left: -10px; */
  background-color: rgb(29, 99, 45);
  color: white;
  font-size: 12px;
  padding: 3px 18px;
  border-radius: 4px 4px 4px 0;
  /* transform: rotate(-5deg); */
}
.youtube-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.youtube-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* Hide the label on hover */
/* .video-wrapper:hover::before {
  content: '';
} */
/* ######## </ IMAGE & Video > ######## */


/* box around tabbed content */
.md-typeset .tabbed-set {
  border: .05rem solid var(--md-typeset-table-color); /* --md-default-fg-color--lightest */
  border-radius: 0.15rem;
}
.md-typeset .tabbed-content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

