site_name: PF2B Documentation
site_url: https://pf2b.roberd.net/
theme:
  name: material
  custom_dir: overrides #Remember to save mkdocs.yml to refresh the overrides
  favicon: icons/favicon.svg
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.instant
   # - toc.integrate
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: green
      accent: orange
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: green
      accent: orange
  icon:
    logo: material/pine-tree-box

extra_css:
  - extra/extra.css

extra_javascript:
  - extra/360-viewer.min.js
  - extra/changelog-icons.js

nav:
  - Home:
    - Welcome: index.md
    - plants.md
    - gallery.md
    - changelog.md
  - Getting Started: getting_started.md
  - Workflow:
    - workflow.md
    - Import:
      - workflow/browse_via_blender.md
      - workflow/browse_via_plantfactory.md
      - Biomes & Collections:
        - Overview: workflow/biomes_and_collections.md
        - workflow/biomes.md
        - workflow/collections.md
    - Settings:
      - Import Settings: workflow/import_settings.md
      - Material Settings: workflow/material_settings.md
    - Post Import:
      - Post Processing: workflow/post_processing.md
      - workflow/utilities.md
  - Preferences:
    - preferences/general.md
    - preferences/plant_library.md
    - preferences/misc.md
  - Support:
    - Support and Feedback: support.md
    - FAQ: support/faq.md
    - support/guides.md
    - "PF2B: Under the Hood": support/pf2b_under_the_hood.md

plugins:
  - search
  - glightbox:
      manual: true #So that not every image is added to the lightbox, add images manually with 'on-glb' class.
      background: none
      shadow: false
      slide_effect: none
  - tags:
      tags: false #Hides tags being displayed on top of the pages but they still work for searches.
  - redirects:
      redirect_maps:
        'preferences.md': 'preferences/general.md'


extra:
  social:
    - icon: material/web
      link: https://roberd.net

markdown_extensions:
  - attr_list
  - def_list
  - md_in_html
  - admonition
  - pymdownx.details
  - toc:
      permalink: true
  - pymdownx.emoji: #Used for icons
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons/ #Icons can be a bit slow to update when adding new
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

copyright: |
  &copy; 2024-2025 <a href="https://roberd.net" target="_blank" rel="noopener">Roberd Palm</a>