site_name: PF2B Landing Page
theme:
  name: material
  custom_dir: overrides #Remember to save mkdocs.yml to refresh the overrides
  favicon: favicon.svg
  language: en
  features:
    - navigation.top
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: orange

extra_css:
  - extra.css
  - parallax.css

extra_javascript:
  - changelog-icons.js

nav: []

plugins:
  - include-markdown
  - mkdocs-simple-hooks:
      hooks:
        on_pre_build: "scripts.copy_changelog:run_copy" #Copies over changelog from mainsite

extra:
  generator: false #Hide footer

markdown_extensions:
  - attr_list
  - def_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.emoji: #Used for icons
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons/ #Icons can be a bit slow to update when adding new
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
